<%- include('./partials/header') %>
<form action="/courses/<%=courseidtoPush%>/mycourses" method="post">
<div class="container p-5">
  <div class="row">
    <div class="bg-light col-lg-6">
      <h2 class="text-center">What you'll learn</h2>
      <div class="m-1">
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><%= course.tablehead1 %></th>
              <th scope="col"><%= course.tablehead2 %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row"><%= course.tablebody1 %></td>
              <td><%= course.tablebody2 %></td>
            </tr>
            <tr>
              <td scope="row"><%= course.tablebody11 %></td>
              <td><%= course.tablebody21 %></td>
            </tr>
            <tr>
              <td scope="row"><%= course.tablebody12 %></td>
              <td><%= course.tablebody22 %></td>
            </tr>
            <tr>
              <td scope="row"><%= course.tablebody13 %></td>
              <td><%= course.tablebody23 %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card text-center" style="width: 100%;">
        <div class="card-header">
          <img class="card-img-top" src="<%=course.image %>" alt="" />
        </div>
        <div class="card-body">
          <h1><%=course.name %></h1>
          <h4>Price</h4>
          <p>30 Days Money Back Guarantee</p>
          <p>₹ <%= course.price %></p>
          <% if(checkEnrolled){ %>
          <!-- <a class="btn btn-md btn-success" href="#">Enroll Now</a> -->
          <button type="button" class="btn btn-md btn-dark" data-toggle="modal" data-target="#myModal">
            Read Now
          </button>
          

          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Course Lecture</h4>
                </div>
                <div class="modal-body embed-responsive embed-responsive-4by3">
                  <iframe class="embed-responsive-item" src="<%=course.video%>"" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <% } else { %>
          <button class="btn btn-md btn-success" type="submit">Enroll Now</button>
          <% } %>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
