<%- include('./partials/header') %>

<div class="text-center">
  <% courses.forEach(function(course){ %>

  <div class="row" style="display: inline-flex;">
    <div class="col-4">
      <div class="card m-3" style="width: 18rem;">
        <img class="card-img" src="<%=course.image%>" />
        <h2 class="text-center"><%=course.name%></h2>
        <div class="body m-1">
              <a
                href="/courses/<%= course._id %>"
                class="btn btn-sm btn-block btn-info"
                >More Info</a
              >
        </div>
      </div>
    </div>
  </div>
  <% }); %>
  <div class="mb-5"></div>
</div>
<%- include('./partials/footer') %>
