<%- include('./partials/header') %>
    <div class="text-center">
    <% user.mycourses.forEach(function(mycourse){ %>

        <div class="row" style="display: inline-flex;">
            <div class="col-4">
              <div class="card m-3" style="width: 18rem;">
                <img class="card-img" src="<%= mycourse.image %>"/>
                <h2 class="text-center"><%= mycourse.name %></h2>
                <div class="body m-1">
                  <a href="/mycourses/<%=mycourse._id%>" class="btn btn-sm btn-dark btn-block">Read Now</a>
                </div>
              </div>
            </div>
          </div>
      <% }); %>
    </div>
      <div class="mb-5"></div>
<%- include('./partials/footer') %>